@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* html,
#root {
  height: 100%;
} */

.homeMain {
  background-image: url(../public/pictures/cuisinier_N&B.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

header {
  background-image: url(../public/pictures/cuisinier_N&B.jpg);
  background-size: cover;
  background-position: center;
}

.circleOrange {
  color: #FFC300;
}
